<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <div class="col-12" style="text-align: center; color: #fff !important;">
            <span><b>&copy; yelpCamp 2020</b></span>
        </div>
    </div>
</footer>